html
  position relative
  min-height 100%
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

body
  font normal $font-size-base/$line-height-base $font-family-base
  color $text-color
  min-width 1240px
  background url(../images/background.jpg) no-repeat top center $background-body
  margin-bottom 210px

::selection
  background $second-color
  color #fff

::-moz-selection
  background $second-color
  color #fff

a
  color $link-color

.container
  max-width 1240px
  margin auto
  clearfix()