placeholder($color = $border-color, $style = normal, $font = $font-body)
  mixin()
    color $color
    font-style $style
    font-family $font

  &::-webkit-input-placeholder
    mixin()
  &::-moz-placeholder
    mixin()
  &:-moz-placeholder
    mixin()
  &:-ms-input-placeholder
    mixin()

// ==============================
// clearfix mixin
clearfix()
  &:before
  &:after
    content " "
    display table

  &:after
    clear both

// ==============================
// clearlist mixin
clear-list()
  margin 0
  padding 0
  list-style none
  line-height normal

clearlist()
  clear-list()


// ==============================
clearinline()
  font-size 0
  line-height 0

definline()
  font-size $font-size-base
  line-height $line-height-base

// ==============================


// ==============================
// ellipsis
ellipsis($nowrap = true)
  text-overflow ellipsis
  overflow hidden
  if $nowrap
    white-space nowrap


// ==============================
// hide text
hide-text()
  overflow hidden
  text-indent 110%
  white-space nowrap

// ==============================
// Size mixin:
// use size(20px) -> width: 20px; height: 20px;
// use size(10px, 20px) -> width:10px; height: 20px;
size($width, $height = null)
  width $width
  if $height
    height $height
  else
    height $width


// ==============================
// tab focus
tab-focus()
  outline thin dotted
  outline 5px auto -webkit-focus-ring-color
  outline-offset -2px

// ==============================
// btn style
button-variant($color = $btn-default-color, $background = $btn-default-bg, $border = $btn-default-border)
  color $color
  background-color $background
  border-color $border

  &:focus,
  &.focus
    color $color
    background-color lighten($background, 10)
    border-color lighten($border, 25)

  &:hover
    color $color
    background-color lighten($background, 10)
    border-color lighten($border, 12)

  &:active,
  &.active
    color $color
    background-color darken($background, 10)
    border-color darken($border, 12)

    &:hover,
    &:focus,
    &.focus
      color $color
      background-color darken($background, 17)
      border-color darken($border, 25)

  &:active,
  &.active
    background-image none

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    &:hover,
    &:focus,
    &.focus
      background-color $background
      border-color $border

// Button sizes
button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius)
  padding $padding-vertical $padding-horizontal
  font-size $font-size
  line-height $line-height
  border-radius $border-radius
  text-decoration none


// =====================================
// Form style

form-control-validation($text-color = #555, $border-color = #ccc, $background-color = #f5f5f5)
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio_inline,
  .checkbox_inline,
  &.radio label,
  &.checkbox label,
  &.radio_inline label,
  &.checkbox_inline label
    color $text-color

  .form__control
    border-color $border-color
    // box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

    &:focus
      border-color darken($border-color, 10)
      // box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($border-color, 20)


// Form control focus state
form-control-focus($color = $input-border-focus)
  $color-rgba = rgba(red($color), green($color), blue($color), .6)

  &:focus
    border-color $color
    outline 0
    // box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $color-rgba

// Form control sizing
input-size($input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius)
  height $input-height
  padding $padding-vertical ($padding-horizontal / 2)
  font-size $font-size
  line-height $line-height
  border-radius $border-radius

  select&
    height $input-height
    line-height $input-height

  textarea&,
  select[multiple]&
    height auto


// Fonts mixin
// How to use:
// webfont('Open Sans', 'open-sans-webfont', true, 'normal')

font-url(file)
  return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.woff2')) format('woff2'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')