//!  generated automatically!

//!  use:
//!    1. s-home()
//!    2. s-home(r) - resize
//!    3. s-home(p) - change of background position
//!    4. s-home(!important), -home(r, !important)


i-arrow-left(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -60px importance
    if r in arg
      width 24px importance
      height 34px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -60px importance
    width 24px importance
    height 34px importance


i-arrow-right(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -84px 0px importance
    if r in arg
      width 24px importance
      height 34px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -84px 0px importance
    width 24px importance
    height 34px importance


i-arrow-white(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -60px 0px importance
    if r in arg
      width 24px importance
      height 34px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -60px 0px importance
    width 24px importance
    height 34px importance


i-flag-de(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -108px -51px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -108px -51px importance
    width 15px importance
    height 15px importance


i-flag-en(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -108px -66px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -108px -66px importance
    width 15px importance
    height 15px importance


i-flag-ru(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -94px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -94px importance
    width 15px importance
    height 15px importance


i-flag-us(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -108px -36px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -108px -36px importance
    width 15px importance
    height 15px importance


i-single-mana(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -24px -60px importance
    if r in arg
      width 30px importance
      height 26px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -24px -60px importance
    width 30px importance
    height 26px importance


i-soc-fb(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -30px -30px importance
    if r in arg
      width 30px importance
      height 30px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -30px -30px importance
    width 30px importance
    height 30px importance


i-soc-fb2(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -84px -34px importance
    if r in arg
      width 20px importance
      height 20px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -84px -34px importance
    width 20px importance
    height 20px importance


i-soc-mm(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px 0px importance
    if r in arg
      width 30px importance
      height 30px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px 0px importance
    width 30px importance
    height 30px importance


i-soc-ok(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -30px importance
    if r in arg
      width 30px importance
      height 30px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -30px importance
    width 30px importance
    height 30px importance


i-soc-rss(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -108px 0px importance
    if r in arg
      width 20px importance
      height 20px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -108px 0px importance
    width 20px importance
    height 20px importance


i-soc-tw(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -60px -34px importance
    if r in arg
      width 20px importance
      height 20px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -60px -34px importance
    width 20px importance
    height 20px importance


i-soc-vk(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -30px 0px importance
    if r in arg
      width 30px importance
      height 30px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -30px 0px importance
    width 30px importance
    height 30px importance


i-soc-yt(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -79px -60px importance
    if r in arg
      width 20px importance
      height 20px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -79px -60px importance
    width 20px importance
    height 20px importance


i-soc(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -54px -60px importance
    if r in arg
      width 25px importance
      height 22px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -54px -60px importance
    width 25px importance
    height 22px importance


i-status-founder(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -108px -20px importance
    if r in arg
      width 16px importance
      height 16px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -108px -20px importance
    width 16px importance
    height 16px importance


i-user-logout(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -15px -94px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -15px -94px importance
    width 15px importance
    height 15px importance


i-user-profile(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -30px -94px importance
    if r in arg
      width 15px importance
      height 15px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -30px -94px importance
    width 15px importance
    height 15px importance


