<footer class="footer">
      <div class="container">

        <nav class="b-foot-nav">
          <ul class="b-foot-nav__list">

            <li class="b-foot-nav__item">
              <a href="#?" class="b-foot-nav__title">News</a>
              <ul class="b-foot-nav__sublist">
                <li class="b-foot-nav__subitem">
                  <a href="#?" class="b-foot-nav__sublink">Press about us</a>
                </li>
              </ul>
            </li>

            <li class="b-foot-nav__item">
              <a href="#?" class="b-foot-nav__title">About</a>
            </li>

            <li class="b-foot-nav__item">
              <a href="#?" class="b-foot-nav__title">Media</a>
              <ul class="b-foot-nav__sublist">
                <li class="b-foot-nav__subitem">
                  <a href="#?" class="b-foot-nav__sublink">Screenshots</a>
                </li>
                <li class="b-foot-nav__subitem">
                  <a href="#?" class="b-foot-nav__sublink">Concept-art</a>
                </li>
              </ul>
            </li>

            <li class="b-foot-nav__item">
              <a href="#?" class="b-foot-nav__title">Community</a>
              <ul class="b-foot-nav__sublist">
                <li class="b-foot-nav__subitem">
                  <a href="#?" class="b-foot-nav__sublink">Forum</a>
                </li>
                <li class="b-foot-nav__subitem">
                  <a href="#?" class="b-foot-nav__sublink">Social networks</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <div class="b-foot-block">
          <div class="b-foot-block__partners">
            <a href="#?" class="link"><img src="./images/logo-allods.png" alt=""></a>
            <a href="#?" class="link"sa><img src="./images/logo-mail.png" alt=""></a>
            <img src="./images/limit.png" alt="">
            <img src="./images/counters.png" alt="">
          </div>
          <div class="b-foot-block__copy">
            <img src="./images/logo-obsidian.png" alt="">
            &copy; 2014 Mail.Ru Games. All Rights Reserved. Powered by <a href="#?" class="link">Mail.Ru</a>
          </div>
          <div class="b-foot-block__logos">
            <a href="#?" class=""><img src="./images/footer-logo-1.png" alt=""></a>
            <a href="#?" class=""><img src="./images/footer-logo-2.png" alt=""></a>
            <a href="#?" class=""><img src="./images/footer-logo-3.png" alt=""></a>
          </div>
        </div>

      </div>
    </footer>