<header class="b-header">
      <!-- в макете шапка была сведена в один слой, поэтому сделал картинками и таким способом -->
      <a href="javascript:;" class="b-header__logo"><img src="./images/logo.png" alt="header"></a>
      <a href="javascript:;" class="b-header__menu"><img src="./images/menu.png" alt="header"></a>
      <a href="javascript:;" class="b-header__login"><img src="./images/login.png" alt="header"></a>
    </header>