
    <nav class="b-menu">
      <ul class="b-menu__list">
        <li class="b-menu__item _active">
          <a href="#?" class="b-menu__link">News</a>
        </li>

        <li class="b-menu__item">
          <a href="#?" class="b-menu__link">About</a>
        </li>

        <li class="b-menu__item">
          <a href="#?" class="b-menu__link">Media</a>
        </li>

        <li class="b-menu__item b-submenu">
          <a href="#?" class="b-menu__link">Support</a>

          <ul class="b-submenu__list">
            <li class="b-submenu__item"><a href="#?" class="b-submenu__link">Complain</a></li>
            <li class="b-submenu__item"><a href="#?" class="b-submenu__link">Complain about everybody</a></li>
            <li class="b-submenu__item"><a href="#?" class="b-submenu__link">Complain about destiny</a></li>
            <li class="b-submenu__item"><a href="#?" class="b-submenu__link">Complain about the others</a></li>
          </ul>
        </li>

        <li class="b-menu__item">
          <a href="#?" class="b-menu__link">Community</a>
        </li>
      </ul>

      <div class="b-menu__oth">
        <div class="b-menu__lang b-menu-select">
          <a href="javascript:;" class="b-menu-select__header b-menu-select__link">
            <span class="b-menu-select__icon b-menu-select__icon_ru"></span> RU
          </a>

          <ul class="b-menu-select__list">
            <li class="b-menu-select__item">
              <a href="javascript:;" class="b-menu-select__link">
                <span class="b-menu-select__icon b-menu-select__icon_ru"></span> RU
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="javascript:;" class="b-menu-select__link">
                <span class="b-menu-select__icon b-menu-select__icon_us"></span> US
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="javascript:;" class="b-menu-select__link">
                <span class="b-menu-select__icon b-menu-select__icon_en"></span> EN
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="javascript:;" class="b-menu-select__link">
                <span class="b-menu-select__icon b-menu-select__icon_de"></span> DE
              </a>
            </li>
          </ul>
        </div>

        <div class="b-menu__soc b-menu-select">
          <span href="javascript:;" class="b-menu-select__header">
            <span class="b-menu-select__icon b-menu-select__icon_main"></span>
          </span>

          <ul class="b-menu-select__list">
            <li class="b-menu-select__item">
              <a href="#?" target="_blank" class="b-menu-select__link">
                <span class="b-menu-select__icon b-soc-icon b-soc-icon_vk"></span>
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="#?" target="_blank" class="b-menu-select__link">
                <span class="b-menu-select__icon b-soc-icon b-soc-icon_fb"></span>
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="#?" target="_blank" class="b-menu-select__link">
                <span class="b-menu-select__icon b-soc-icon b-soc-icon_mm"></span>
              </a>
            </li>
            <li class="b-menu-select__item">
              <a href="#?" target="_blank" class="b-menu-select__link">
                <span class="b-menu-select__icon b-soc-icon b-soc-icon_ok"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>