// b-content.styl
.b-content
  padding-top 350px
  padding-bottom 250px

// верхний блок контента
.b-user-block
  margin-bottom 20px
  clearfix()

.b-user-block__info
  background url(../images/submenu.png) repeat 0 0 transparent
  width 890px
  height 60px

.b-user-panel
  float left
  clearfix()

.b-user-panel__avatar
  float left
  padding 5px 20px
  border-radius 50%
  overflow hidden

  img
    border-radius 50%
    width 50px

.b-user-panel__nickname
  padding-top 8px
  padding-bottom 8px
  margin-left 90px

  .name
    color #FFF
    font 18px/20px $csl


.b-user-panel__links
  margin-top 3px

  .link
    display inline-block
    text-decoration none
    margin-right 40px
    margin-left -4px


    &:last-child
      margin-right 0

.profile-icon
.logout-icon

  &:before
    content ""
    margin-right 3px
    margin-top -2px
    vertical-align middle


.profile-icon:before
  i-user-profile()

.logout-icon:before
  i-user-logout()


.b-user-block__action
  float right
  width 330px
  padding-top 14px
  padding-bottom 14px



// single-block
.b-single-block
  //

.b-single-block__header
.b-single-block__footer
  padding-left 20px
  padding-right 20px
  color #fff
  background url(../images/submenu.png) repeat 0 0 transparent

.b-single-block__header
  .title
    margin 0
    font 400 18px/40px $csl

// контентная часть
.b-single-block__content
  padding 20px
  background url(../images/single-bg.png) repeat-y 0 0 transparent

.b-single-item
  margin-bottom 20px
  padding-bottom 20px
  border-bottom 1px dashed #66806d
  clearfix()

.b-single-item__image
  position relative
  float left
  width 750px
  height 470px
  overflow hidden

  .img
    display block

.b-single-item__image-caption
  position absolute
  bottom 0
  left 0
  right 0
  padding 0 20px
  background-color rgba(black, .7)

.b-single-item__image-title
  font 18px/50px $csl
  color #fff

.b-single-item__mana
  float right
  padding-top 8px
  font 36px/40px $sfd
  color #daaa00

  &:before
    content ""
    vertical-align middle
    margin-right 10px
    margin-top -7px
    i-single-mana()

//
.b-single-item__info
  margin-left 770px
  margin-top -3px

.b-single-item__info-section
  padding-bottom 15px
  margin-bottom 15px
  border-bottom 1px dashed #66806d

  .title
    color #777777

  &:last-child
    margin-bottom 0
    padding-bottom 0
    border-bottom 0


.b-single-item__sub
  .num
    font normal 60px/1 $sfd
    color black

  .subtitle
    margin-top -10px
    font normal 18px/20px $csl


.b-single-item__author
  padding-top 2px
  padding-bottom 20px
  margin-bottom 10px

  .img
    float left
    border-radius 50%
    size(60px)

    img
      border-radius 50%

  .title
  .nickname
  .type
    margin-left 72px

  .title
    margin-top -2px
    margin-bottom 1px

  .nickname
    margin-bottom 2px
    font normal 22px/1 $csl

  .type
    color #777777

    &:before
      content ""
      margin-right 10px
      margin-top -3px
      vertical-align middle
      i-status-founder()

.b-single-item__text
  .title
    margin-bottom 14px

  .text
    height 140px
    overflow hidden
    line-height 18px

.b-single-arrow
  padding 7px 12px
  font-size 0
  line-height 0

  &:before
    content ""
    i-arrow-left()

  &_right
    &:before
      i-arrow-right()

.b-single-item__actions

  .b-btn-line
    position relative
    padding-left 70px
    padding-right 70px

  .b-single-arrow
    position absolute
    top 0

    &_left
      left 0

    &_right
      right 0


// share
.b-share-block
  padding 9px 0 0
  height 40px
  font-size 0

.b-share-block__title
  display inline-block
  font-size 14px
  margin-right 10px
  vertical-align middle

.b-share-block__link
  display inline-block
  vertical-align middle
  margin 0 3px



