// b-menu.styl
.b-menu
  position relative
  z-index 1
  height 50px
  background-color #b8c5c5


// список меню
.b-menu__list
  margin 0
  padding 0
  font-size 0
  line-height 0
  list-style-type none
  text-align center

.b-menu__item
  display inline-block
  font-size $font-size-base
  line-height $line-height-base

.b-menu__link
  display block
  position relative
  padding-left 30px
  padding-right 30px
  font 18px/50px $csl
  text-decoration none
  color #3b3e3d

  &:after
    position absolute
    content " "
    bottom 0
    left 0
    size(100%, 5px)
    background-color transparent

  ._active &:after
    background-color #647e6b

  &:hover
    background-color #66806d
    color #fff

    &:after
      background-color #66806d


// подменю
.b-submenu
  position relative

.b-submenu__list
  display none
  position absolute
  top 100%
  left 0
  margin 0
  padding 5px 0
  list-style-type none
  text-align left
  min-width 260px
  background url(../images/submenu.png) repeat 0 0 transparent

  .b-submenu:hover &
    display block

.b-submenu__item
  //

.b-submenu__link
  display block
  text-decoration none
  color #84c295
  line-height 30px
  padding-left 30px
  padding-right 30px

  &:hover
    color #fff


// Блок селектов
.b-menu__oth
  position absolute
  right 50%
  top 0
  margin-right -600px
  white-space nowrap

.b-menu-select
  position relative
  margin-right 5px
  margin-left 5px
  display inline-block
  white-space normal

.b-menu-select__list
  position absolute
  display none
  top 100%
  left 0
  right 0
  margin 0
  padding 10px 0
  background url(../images/submenu.png) repeat 0 0 transparent
  list-style-type none

  .b-menu-select:hover &
    display block


.b-menu-select__link
  display block
  text-decoration none
  color #3b3e3d
  line-height 30px
  padding-left 10px
  padding-right 10px
  color #cacaca

  &:hover
    background-color rgba(#81c097, .5)
    color black

.b-menu-select__icon
  display inline-block
  margin-top -3px
  vertical-align middle

  &_ru
    i-flag-ru()

  &_us
    i-flag-us()

  &_en
    i-flag-en()

  &_de
    i-flag-de()

  &_main
    i-soc()


.b-menu-select__header
  display inline-block
  line-height 50px
  color #3b3e3d

  .b-menu-select:hover &
    background-color #66806d
    color #fff


.b-menu__soc
  .b-menu-select__header
    min-width 60px
    text-align center

  .b-menu-select__item
    text-align center

  .b-menu-select__link
    padding-top 2px
    padding-bottom 2px

  &:hover
    .b-menu-select__link
      background-color transparent