.footer
  position absolute
  bottom 0
  left 0
  width 100%
  height 210px
  padding 20px 0
  background url(../images/submenu.png) repeat 0 0 transparent
  clearfix()

// navigate
.b-foot-nav
  float left

.b-foot-nav__list
  font-size 0
  line-height 0
  white-space nowrap

.b-foot-nav__item
  display inline-block
  width 125px
  vertical-align top
  font-size 12px
  line-height 16px

.b-foot-nav__title
.b-foot-nav__sublink
  color #FFF
  text-decoration none

.b-foot-nav__title
  display inline-block
  margin-bottom 20px
  font normal 18px/1 $csl

.b-foot-nav__sublink
  display inline-block
  margin-bottom 8px


// блок с копирайтами
.b-foot-block
  float right
  text-align right
  font-size 12px

  .link
    color #0072bc
    text-decoration none

.b-foot-block__logos
  margin-right -10px

.b-foot-block__copy
  line-height 13px
  color #cacaca

  img
    display inline-block
    margin-right 3px
    vertical-align middle

.b-foot-block__partners
.b-foot-block__copy
  margin-bottom 20px

.b-foot-block__partners
  img
    display inline-block
    vertical-align bottom

  img + img,
  .link + .link,
  .link + img
    margin-left 10px