{% extends './tpl/base.twig' %}

{% block title %}Тестовое задание{% endblock %}

{% block content %}
<div class="container">
        <div class="b-content">

          <div class="b-user-block">
            <div class="b-user-block__info b-user-panel">

              <a href="#?" class="b-user-panel__avatar">
                <img src="./images/avatar.jpg" alt="nickname">
              </a>

              <div class="b-user-panel__nickname">
                <span class="name">Ingeborge_Dopkunayte</span>

                <div class="b-user-panel__links">
                  <a href="#?" class="link profile-icon">Profile</a>
                  <a href="#?" class="link logout-icon">Logout</a>
                </div>
              </div>
            </div>

            <a href="#?" class="b-user-block__action btn">Join to the CBT</a>
          </div><!-- user block -->

          <div class="b-single-block">
            <div class="b-single-block__header">
              <h1 class="title">Voting in the nomination «Player of the year»</h1>
            </div><!-- b-single-block__header -->

            <div class="b-single-block__content">
              <div class="b-single-item">
                <div class="b-single-item__image">
                  <img class="img" src="./images/image-single.jpg" alt="">

                  <div class="b-single-item__image-caption">
                    <div class="b-single-item__mana">245</div>
                    <div class="b-single-item__image-title">№52 «Rambo: First blood»</div>
                  </div>
                </div><!-- b-single-item__image -->

                <div class="b-single-item__info">
                  <div class="b-single-item__sub b-single-item__info-section">
                    <div class="title">Submission №</div>
                    <div class="num">52</div>
                    <div class="subtitle">Name must be limited to  ~38 Characters</div>
                  </div>

                  <div class="b-single-item__author b-single-item__info-section">
                    <span class="img"><img src="./images/avatar-author.jpg" alt="nickname"></span>
                    <div class="title">Author:</div>
                    <div class="nickname">Ingeborge_Dopkunayte</div>
                    <div class="type type_founder">Founder</div>
                  </div>

                  <div class="b-single-item__text b-single-item__info-section">
                    <div class="title">Description:</div>
                    <div class="text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.</div>
                  </div>

                  <div class="b-single-item__actions b-single-item__info-section">
                    <div class="b-btn-line">
                      <a href="javascript:;" class="btn btn_second b-single-arrow b-single-arrow_left"></a>
                      <a href="javascript:;" class="btn btn_second b-single-arrow b-single-arrow_right"></a>
                      <a href="javascript:;" class="btn btn_block">Vote</a>
                    </div>
                  </div>
                </div><!-- b-single-item__info -->
              </div>

              <a href="javascript:;" class="btn btn_second _sm b-single-back">Back to contest</a>
            </div><!-- b-single-block__content -->

            <div class="b-single-block__footer">
              <div class="b-share-block">
                <span class="b-share-block__title">Share</span>
                <a href="#?" class="b-share-block__link b-soc-icon b-soc-icon_rss"></a>
                <a href="#?" class="b-share-block__link b-soc-icon b-soc-icon_fb2"></a>
                <a href="#?" class="b-share-block__link b-soc-icon b-soc-icon_tw"></a>
                <a href="#?" class="b-share-block__link b-soc-icon b-soc-icon_yt"></a>
              </div>
            </div><!-- b-single-block__footer -->
          </div>
        </div>
      </div>
{% endblock %}