.b-header
  position relative
  height 60px
  z-index 2
  background-color #FFF
  text-align center
  box-shadow 0 4px 4px rgba(0,0,0,.3)

.b-header__logo
  display inline-block
  vertical-align top
  font-size 0
  line-height 0

.b-header__menu
  position absolute
  display block
  top 0

.b-header__login
  position absolute
  display block
  right 0
  top 0