// base_styles_fields()
//   display block
//   border 1px solid #ccc
//   border-radius 3px

//   padding 7px 14px 8px
//   width 100%
//   height 34px

//   background #fff
//   color $text-color

//   font 400 $font-size-base/1.3 $font-family-base

//   box-sizing border-box
//   transition border-color ease .3s

//   placeholder(color = #666)

//   &:focus
//     border-color #aaa
//     placeholder(color = #ccc)

//   &[disabled]
//   &[readonly]
//     opacity .6

//   &.error
//   .error &
//     border-color #ff0000


// .form-control
//   base_styles_fields()

//   textarea&
//     height auto


// .form__group
//   margin-bottom 15px

//   label
//     display block
//     margin-bottom 5px

//
// Forms
// --------------------------------------------------
fieldset
  padding 0
  margin 0
  border 0
  min-width 0

legend
  display block
  width 100%
  padding 0
  margin-bottom $line-height-px
  font-size ($font-size-base * 1.5)
  line-height inherit
  color $legend-color
  border 0
  border-bottom 1px solid $legend-border-color

label
  display inline-block
  max-width 100%
  margin-bottom 5px
  font-weight bold

input[type="search"]
  box-sizing border-box

input[type="radio"],
input[type="checkbox"]
  margin 4px 0 0
  margin-top unquote('1px \9') // IE8-9
  line-height normal

input[type="file"]
  display block

input[type="range"]
  display block
  width 100%

select[multiple],
select[size]
  height auto

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
  tab-focus()

// Adjust output element
output
  display block
  padding-top ($padding-base-ver + 1)
  font-size $font-size-base
  line-height $line-height-base
  color $input-color


// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
.form__control
  display block
  width 100%
  height $input-height-base
  padding $padding-base-ver ($padding-base-hor / 2)
  font-size $font-size-base
  line-height $line-height-base
  color $input-color
  background-color $input-bg
  background-image none
  border 1px solid $input-border-color
  border-radius $input-border-radius
  // box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
  form-control-focus()
  placeholder()

  &::-ms-expand
    border: 0;
    background-color: transparent;

  &[disabled],
  &[readonly],
  fieldset[disabled] &
    background-color $input-bg-disabled
    opacity .8

  &[disabled],
  fieldset[disabled] &
    cursor $cursor-disabled

  textarea&
    height auto

  // select

  & + .form__control
    margin-top $form-group-margin-bottom

  & + .btn
    margin-top ($form-group-margin-bottom / 2)

// Search inputs in iOS
input[type="search"]
  -webkit-appearance none


// Special styles for iOS temporal inputs
@media screen and (-webkit-min-device-pixel-ratio 0)
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"]
    &.form__control
      line-height $input-height-base

    // &.input_xs,
    // .input-group._xs &
    //   line-height $input-height-xs

    // &.input_sm,
    // .input-group._sm &
    //   line-height $input-height-sm

    // &.input_lg,
    // .input-group._lg &
    //   line-height $input-height-lg


// Form groups
.form__group
  margin-bottom $form-group-margin-bottom


// Checkboxes and radios
.form__radio,
.form__checkbox
  position relative
  display block
  margin-top 10px
  margin-bottom 10px

  label
    min-height $line-height-px // Ensure the input doesn't jump when there is no text
    padding-left 20px
    margin-bottom 0
    font-weight normal
    cursor pointer

.form__radio input[type="radio"],
.form__radio_inline input[type="radio"],
.form__checkbox input[type="checkbox"],
.form__checkbox_inline input[type="checkbox"]
  position absolute
  margin-left -20px
  margin-top unquote('4px \9')

.form__radio + .form__radio,
.form__checkbox + .form__checkbox
  margin-top -5px

// Radios and checkboxes on same line
.form__radio_inline,
.form__checkbox_inline
  position relative
  display inline-block
  padding-left 20px
  margin-bottom 0
  vertical-align middle
  font-weight normal
  cursor pointer

.form__radio_inline + .form__radio_inline,
.form__checkbox_inline + .form__checkbox_inline
  margin-top 0
  margin-left 10px

// Apply same disabled cursor tweak as for inputs
input[type="radio"],
input[type="checkbox"]
  &[disabled],
  &.disabled,
  fieldset[disabled] &
    cursor $cursor-disabled

.form__radio_inline,
.form__checkbox_inline
  &.disabled,
  fieldset[disabled] &
    cursor $cursor-disabled

.form__radio,
.form__checkbox
  &.disabled,
  fieldset[disabled] &
    label
      cursor $cursor-disabled


// Form control sizing
.form__control._xs
  input-size($input-height-xs, $padding-xs-ver, $padding-xs-hor, $font-size-xs, $line-height-xs, $input-border-radius-xs)

.form__group._xs
  .form__control
    height $input-height-xs
    padding $padding-xs-ver ($padding-xs-hor / 2)
    font-size $font-size-xs
    line-height $line-height-xs
    border-radius $input-border-radius-xs

  select.form__control
    height $input-height-xs
    line-height $input-height-xs

  textarea.form__control,
  select[multiple].form__control
    height auto

.form__control._sm
  input-size($input-height-sm, $padding-sm-ver, $padding-sm-hor, $font-size-sm, $line-height-sm, $input-border-radius-sm)

.form__group._sm
  .form__control
    height $input-height-sm
    padding $padding-sm-ver ($padding-sm-hor / 2)
    font-size $font-size-sm
    line-height $line-height-sm
    border-radius $input-border-radius-sm

  select.form__control
    height $input-height-sm
    line-height $input-height-sm

  textarea.form__control,
  select[multiple].form__control
    height auto


.form__control._lg
  input-size($input-height-lg, $padding-lg-ver, $padding-lg-hor, $font-size-lg, $line-height-lg, $input-border-radius-lg)

.form__group._lg
  .form__control
    height $input-height-lg
    padding $padding-lg-ver ($padding-lg-hor / 2)
    font-size $font-size-lg
    line-height $line-height-lg
    border-radius $input-border-radius-lg

  select.form__control
    height $input-height-lg
    line-height $input-height-lg

  textarea.form__control,
  select[multiple].form__control
    height auto


// Help text
.form_help
  display block // account for any element using form_help
  margin-top 5px
  margin-bottom 10px
  font-size 0.8em
  color lighten($text-color, 25) // lighten the text some for contrast


// Inline forms
.form_inline
  @media $m-sm
    .form__group
      display inline-block
      margin-bottom 0
      vertical-align middle

    .form__control
      display inline-block
      width auto // Prevent labels from stacking above inputs in `.form__group`
      vertical-align middle

    .input_group
      display inline-table
      vertical-align middle

      .input-group-btn,
      .form__control
        width auto

    .input-group > .form__control
      width 100%

    .form__label
      margin-bottom 0
      vertical-align middle

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match
    .form__radio,
    .checkbox
      display inline-block
      margin-top 0
      margin-bottom 0
      vertical-align middle

      label
        padding-left 0

    .form__radio input[type="radio"],
    .checkbox input[type="checkbox"]
      position relative
      margin-left 0

// Horizontal forms
.form_horizontal

  .form__radio,
  .form__checkbox,
  .form__radio_inline,
  .form__checkbox_inline
    margin-top 0
    margin-bottom 0
    padding-top ($padding-base-ver + 1)

  .form__radio,
  .form__checkbox
    min-height ($line-height-px + ($padding-base-ver + 1))

  @media $m-sm
    .form__label
      text-align right
      margin-bottom 0
      padding-top ($padding-base-ver + 1) // Default padding plus a border

  // Form group sizes
  .form__group_lg
    @media $m-sm
      .form__label
        padding-top ($padding-lg-ver + 1)
        font-size $font-size-lg

  .form__group_sm
    @media $m-sm
      .form__label
        padding-top ($padding-sm-ver + 1)
        font-size $font-size-sm

    .form__control
      @extend .form__control._sm